{% extends "articles/layout.html" %}

{% load static %}

{% block title %} Newswordy: My Account {% endblock %}

{% block script %} <script type="text/javascript" src="{% static 'articles/js/account.js' %}"></script> {% endblock %}

{% block main %}
    <h1>My Account</h1>
    <hr>
    <h3>Personal Information</h3>
    <div class="card">
        <h5 class="card-header">{{ request.user }}'s Information</h5>
        <div class="card-body">
          <h5 class="card-title">Username</h5>
          <p class="card-text">{{ request.user.username }}</p>
          <h5 class="card-title">Email</h5>
          <p class="card-text">{{ request.user.email }}</p>
          <h5 class="card-title">Date Joined</h5>
          <p class="card-text">{{ request.user.date_joined }}</p>
        </div>
      </div>
      <br>
      <h3>Saved Articles</h3>
      <div class="card">
        <h5 class="card-header">{{ request.user }}'s Articles</h5>
        <div class="card-body">
          <h5 class="card-title">Username</h5>
          <p class="card-text">{{ request.user.username }}</p>
          <h5 class="card-title">Email</h5>
          <p class="card-text">{{ request.user.email }}</p>
          <h5 class="card-title">Date Joined</h5>
          <p class="card-text">{{ request.user.date_joined }}</p>
        </div>
      </div>
{% endblock %}