{% extends "articles/layout.html" %}

{% load static %}

{% block title %} Newswordy: Home {% endblock %}

{% block script %} <script type="text/javascript" src="{% static 'articles/js/index.js' %}"></script> {% endblock %}

{% block main %}
    <h1>Trending Headlines In {{ country }}</h1>
    <hr>
    {% if logout %}
        <div id="message">
            <div class="alert alert-success" role="alert">Successfully Logged Out</div>
        </div>
    {% endif %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for article in article_data %}
        <div class="card" style="width: 23.5rem; margin: 20px;">
            <a href="{{ article.1 }}" target="_blank">
                <img src="{{ article.2 }}" class="card-img-top">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ article.0 }}</h5>
                <p class="card-text">{{ article.3 | striptags | safe }}</p>
                <br>
                <div class="child">
                    <a href="{{ article.1 }}" target="_blank" class="article-link btn btn-primary">View Source</a>
                    <span class="publication-date">&nbsp;{{ article.4 }}</span>
                </div>
            </div>
            {% if user.is_authenticated %}
                {% if article.5 %}
                    <button class="save btn btn-primary">Unsave Article</button>
                {% else %}
                    <button class="save btn btn-primary">Save Article</button>
                {% endif %}
            {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}