{% extends "articles/layout.html" %}

{% load static %}

{% block title %} Newswordy: My Account {% endblock %}

{% block main %}
    <h1>Showing Results for "{{ query }}" </h1>
    <hr>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for article in article_data %}
        <div class="card" style="width: 24rem; margin: 20px;">
            <img src="{{ article.2 }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ article.0 }}</h5>
                <p class="card-text">{{ article.3 }}</p>
                <div>
                    <a href="{{ article.1 }}" class="article-link btn btn-primary">View Source</a>
                    <span>{{ article.4 }}</span>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}